.grid-warp:nth-child(2){
  a{
    width: 1.40625rem;
    height: 1.40625rem;
    color: $white;
    border: none;
    border-radius: 0;
    background-color: #bde4eb;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
  }
  a:first-child{
    float: left;
    line-height: 1.40625rem;
  }
  a:last-child{
    float: right;
    line-height: 1.60625rem;
  }
  input[type=text]{
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    float: left;
    margin-left: -1px;
    text-align: center;
  }
  span{
    float: left;
    display: block;
    padding: 0 0.25rem;
    color:#b9b9b9;
    margin-left: -3px;
  }
}
