body, html{
  background-color: #efefef;
}

$white:#fff;
$notice:#fbfae9;
@mixin formInput {
  -webkit-appearance:none;
	outline:none;
  border: 1px solid #fff;
  border-radius: 0;
}
input{
	-webkit-appearance:none;
	outline:none
}
input[type=text]{
  -webkit-appearance: none;
  display: block;
  height: 1.40625rem-0.015625rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
}
[data-dpr="1"] .grid-warp:first-child, [data-dpr="1"] .grid-warp:nth-child(2){
  width: 10rem;
  margin: 0 auto;
}
.grid-warp:first-child{
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
}
.grid-warp:nth-child(2),
.grid-warp:nth-child(3){
  margin-top: 0.21875rem;
  .grid [class^="col-"]{
    background-color: $white;
    line-height: 1.40625rem;
  }
}
