.notice{
  height: 1.375rem;
  line-height: 1.375rem;
  background-color: $notice;
  margin-top: 0.28125rem;
  margin-bottom: -1px;
  text-indent: 0.2rem;
  position: relative;
  span{
    font-size: $noticeClose;
    position: absolute;
    display: block;
    right: 0.2rem;
    color: $border;
    top: 0;
  }
  i{
    font-size: $noticeIcon;
    color: $yellow;
  }
}
