.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  // display: none;
  .content{
    width: 9.375rem;
    height: 10.75rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -4.6875rem;
    top: 0.5rem;
    box-shadow: 0 0 0.2rem #666;
  }
  .modal_header{
    width: 100%;
    height: 1.375rem;
    line-height: 1.375rem;
    text-indent: 0.2rem;
    border-bottom: 1px solid #d0d0d0;
    background: url('../img/addresscolor.jpg') repeat-x;
    background-size: 60%;
    font-size: 60px;
    color: #5d5d5d;
    span{
      display: block;
      float: right;
      font-size: 100px;
      width: 1rem;
    }
  }
  .modal_content{
    max-height: 10.75rem-1.375rem-1.53125rem;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
    ul{
      width: 100%;
      color: #5d5d5d;
      li{
        padding: 0.5rem;
        position: relative;
        border-bottom: 1px solid #d0d0d0;
        p{
          line-height: 0.6rem;
          span{
            font-size: 60px;
          }
        }
        p:last-child{
          color: #8a8a8a;
        }
      }
      li:nth-child(2n){
        background-color: #fafafa;
      }
      li:first-child:before{
        font-family:"iconfont" !important;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        content: "\e607 Usually";
        color: #fff;
        display: block;
        position: absolute;
        font-size: 40px;
        padding: 0 0.2rem;
        top: 0.2rem;
        right: 0.2rem;
        border-radius: 50px;
        background-color: #ff6c00;
      }
      li:active{
        background-color: #efefef;
      }
    }
  }
  .modal_footer{
    height: 1.53125rem;
    background-color: #ffc600;
    text-align: center;
    a{
      display: block;
      width: 100%;
      height: 100%;
      line-height: 1.53125rem;
      color: #5d5d5d;
      font-size: 60px;
      text-decoration: none;
    }
  }
}
